version: "3.9"

services:
  api:
    build: .
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - redis

  celery:
    build: .
    command: celery -A app.celery_app.celery worker --loglevel=info -E
    env_file:
      - .env
    depends_on:
      - redis

  flower:
    build: .
    command: >
      celery -A app.celery_app.celery flower
      --port=5555
      --basic_auth=admin:admin123
    ports:
      - "5555:5555"
    env_file:
      - .env
    depends_on:
      - redis
      - celery


  redis:
    image: redis:7
    
